.frame-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:350px;
    position: absolute;
    top:0;
    right:0;
    border-radius: 0 0 0 10px;
    overflow: hidden;
   
    }

    .v1{
        height: 650px;
        border: 2px solid #979797;
        border-color: #979797;
        position: absolute;
        margin-left: 1155px;
    }
