.callpage-container{
    .video-container{
        height:60vh;
        width:50%;
        border-radius: 15px;
        object-fit: cover;
        position: absolute;
        top:50px;
        left:170px;
        z-index:-1;
    }
}