.callpage-container{
    .video-container{
        height:80vh;
        width:60%;
        object-fit: cover;
        position: absolute;
        top:50px;
        left:250px;
        border-radius: 20px;
        z-index:-1;
    }
}